* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(200, 200, 200);
}

h1 {
    border-bottom: solid 2px black;
    margin: 0px;
    background-color: #808080;
    font-size: xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 32px;
    text-shadow: 2px 2px rgb(80, 80, 80);
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #808080;
    border-bottom: black solid 2px;
    z-index: 1;
}
a {
    text-decoration: none;
    color: black;
}

button {
    margin: 0px;
    padding: 24px;
    text-decoration: none;
    float: left;
    color: black;
    background-color: #808080;
    border: none;
}
button:hover {
    background-color: #707070;

}
/*
a {
    text-decoration: none;
}

button {
    float: left;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: black;
    background-color: #808080;
    border: none;
}

button:hover {
    background-color: #707070;
}
*/
.character_image_selector {
    margin: 32px;
    display: flex;
    justify-content: center;
}

.character_image {
    opacity: 0.55;
}

.character_image:hover {
    opacity: 1.0;
    transform: scale(1.1, 1.1);
}
h2 {
    border-bottom: black solid 3px;
}

.content {
    padding-left: 250px;
    padding-right: 250px;
    flex-wrap: wrap;
    margin: 32px;
    display: flex;
}

.historia_postaci_Vincent {
    float: left;
}